<footer>

<mat-toolbar style="background-color: #fff;box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.16);">

  <mat-toolbar-row>
    <a routerLink="home"><mat-icon class="footer-icon" style="color: #333;">image</mat-icon></a>
    <span class="footer-spacer"></span>
    <a routerLink="meetfriend"><mat-icon class="footer-icon">supervisor_account</mat-icon></a>
    <span class="footer-spacer"></span>
    <a routerLink="paintnow"><mat-icon class="footer-icon">brush</mat-icon></a>
    <span class="footer-spacer"></span>
    <a routerLink="bookmarked"><mat-icon class="footer-icon">bookmark</mat-icon></a>
    <span class="footer-spacer"></span>
    <a routerLink="settings"><mat-icon class="footer-icon">settings</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>

</footer>