<mat-toolbar style="background-color: #fff;box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);">

<mat-toolbar-row style="background-color: #fff;">
<mat-icon class="header-icon">insert_drive_file</mat-icon>
<span class="header-spacer"></span>
<mat-icon class="header-icon">undo</mat-icon>
<span class="header-spacer"></span>
<mat-icon class="header-icon">redo</mat-icon>
<span class="header-spacer"></span>
<button (click)="openDialog()"><mat-icon class="header-icon">add_to_photos</mat-icon></button>
<span class="header-spacer"></span>
<mat-icon class="header-icon">brush</mat-icon>
<span class="header-spacer"></span>
<img src="https://png.icons8.com/windows/50/000000/erase.png" style="width: 24px;height: 24px;position: relative;">
<span class="header-spacer"></span>
<mat-icon class="header-icon">text_fields</mat-icon>
<span class="header-spacer"></span>
<mat-icon class="header-icon">done</mat-icon>
</mat-toolbar-row>

</mat-toolbar>

<div class="content">

	<div class="assets">
      <!-- letter "C" made in Adobe Illustrator CS5 -->
	    <svg version="1.1"
	         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	         x="0px" y="0px" width="202px" height="264px" viewBox="-0.469 -0.136 202 264"
	         overflow="visible" enable-background="new -0.469 -0.136 202 264" xml:space="preserve">
	    <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M200.5,204.792
	        c0,0-35.703,58.341-99.988,58.341C36.223,263.132,0.5,210.862,0.5,131.531C0.5,52.204,38.584,0.5,100.5,0.5
	        c61.924,0,85.354,51.704,85.354,51.704"/>
	    </svg>
    </div>
	
</div>


