<div class="body">
<div style="margin-left: auto;margin-right: auto;width: 80%; ">
<form class="example-form" layout-align="center center">
	<h1>LivePainting!</h1>
	<h2>Sign in</h2>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
<br/>
<div style="float: right;">Forget Password?</div>
<br/>
<br/>
  <div style="margin-left: auto;margin-right: auto; width: 60%;">
  	<button mat-raised-button>Reset</button>
  	<button mat-raised-button class="login" style="float: right;">Sign in</button>
  </div>
<br/>
    <div style="margin-left: auto;margin-right: auto; width: 60%;">
  	<button mat-raised-button style="width: 100%; background: #3a589a;color: #fff;">Sign in with Facebook</button>
  </div>
</form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>

</div>