<header>
<mat-toolbar style="background-color: #fff;box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);">

  <mat-toolbar-row>
    <mat-icon class="header-icon">notifications_none</mat-icon>
    <span class="header-spacer"></span>
    <span>LivePaint</span>
    <span class="header-spacer"></span>
    <mat-icon class="header-icon">search</mat-icon>

  </mat-toolbar-row>
</mat-toolbar>
</header>

<div class="body">
  <br/>

<mat-toolbar>

<mat-toolbar-row style="background-color: #fff;padding: 0;">
<p style="font-size: 16px;font-weight:normal;">500+ paints processing</p>
<span class="header-spacer"></span>
<mat-icon class="header-icon">view_module</mat-icon>
</mat-toolbar-row>

</mat-toolbar>

<mat-grid-list class="indexgrid" cols="3"  gutterSize="8px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
    <img [src]="tile.img" *ngIf=tile.img />
  </mat-grid-tile>
</mat-grid-list>

  </div>

<footer>

<mat-toolbar style="background-color: #fff;box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.16);">

  <mat-toolbar-row>
    <a routerLink="home"><mat-icon class="footer-icon" style="color: #333;">image</mat-icon></a>
    <span class="footer-spacer"></span>
    <a routerLink="meetfriend"><mat-icon class="footer-icon">supervisor_account</mat-icon></a>
    <span class="footer-spacer"></span>
    <a routerLink="paintnow"><mat-icon class="footer-icon">brush</mat-icon></a>
    <span class="footer-spacer"></span>
    <a routerLink="bookmarked"><mat-icon class="footer-icon">bookmark</mat-icon></a>
    <span class="footer-spacer"></span>
    <a routerLink="settings"><mat-icon class="footer-icon">settings</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>

</footer>

